annotated-types
anyio
certifi
charset-normalizer
click
fastapi
filelock
fsspec
h11
huggingface-hub
idna
packaging
pydantic
pydantic_core
PyYAML
requests
semantic-text-splitter
sniffio
starlette
tokenizers
tqdm
typing_extensions
urllib3
uvicorn
